<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/listeRecettes"></ion-back-button>
    </ion-buttons>

    <ion-title>Détail de la recette</ion-title>

    <ion-buttons slot="primary" (click)="deleteRecette(recette.id)">
      <ion-button>
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <!-- IMG de la recette -->

    <ion-row>
      <ion-col>
        <ion-img [src]="recette.img"></ion-img>
      </ion-col>
    </ion-row>

    <!-- Title -->

    <ion-row>
      <ion-col>
        <h1>{{recette.title}}</h1>
      </ion-col>
    </ion-row>

  <!-- Liste des ingrédients -->

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let ingredient of recette.ingredient">{{ingredient}}</ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>